In [1]:
import numpy as np
import pandas as pd

In [2]:
bc=pd.read_excel('ENTITY BUS COMPANY.xlsx')

In [3]:
bc['contact number']=bc['contact number'].astype('str')

In [4]:
bc.head()

,Name,ID,Email,contact number,Address
0,Yellow Buses Limited,YBL,wecanhelp@yellowbuses.co.uk,01202 636 110,"Avenue Rd, Bournemouth BH2 5SL"
1,More Buses Limited,MBL,connect@morebuses.co.uk,01202 338 420,"Poole, BH15 1SN"
2,Uni Buses,BUB,support@unibuses.co.uk,01202 338 420,"Fern Barrow, Wallisdown, Poole BH12 5BB"
3,South coast Travels,SCT,sct@southcoasttravel.co.uk,01202 530 200,"Throop Business park, Throop Rd, Bournemouth B..."

In [66]:
for i in bc.index:
    j=str(i+1)
    print("CREATE(bc"+j+":BusCompany{bcName:'"+bc.iloc[i,0]+"',bcId:'"+bc.iloc[i,1]+"',bcEmail:'"+bc.iloc[i,2]+"',bcContactNumber:'"+bc.iloc[i,3]+"',bcAddress:'"+bc.iloc[i,4]+"'})")

CREATE(bc1:BusCompany{bcName:'Yellow Buses Limited',bcId:'YBL',bcEmail:'wecanhelp@yellowbuses.co.uk',bcContactNumber:'01202 636 110',bcAddress:'Avenue Rd, Bournemouth BH2 5SL'})
CREATE(bc2:BusCompany{bcName:'More Buses Limited',bcId:'MBL',bcEmail:'connect@morebuses.co.uk',bcContactNumber:'01202 338 420',bcAddress:'Poole, BH15 1SN'})
CREATE(bc3:BusCompany{bcName:'Uni Buses',bcId:'BUB',bcEmail:'support@unibuses.co.uk',bcContactNumber:'01202 338 420',bcAddress:'Fern Barrow, Wallisdown, Poole BH12 5BB'})
CREATE(bc4:BusCompany{bcName:'South coast Travels',bcId:'SCT',bcEmail:'sct@southcoasttravel.co.uk',bcContactNumber:'01202 530 200',bcAddress:'Throop Business park, Throop Rd, Bournemouth BH8 0DQ'})

In [91]:
b=pd.read_excel("ENTITY BUS.xlsx")

In [92]:
b['ServiceEndDate'].fillna(value='NULL',inplace=True)

In [143]:
b['ModelYear']=b['ModelYear'].astype('str')
b['ServiceStarts']=b['ServiceStarts'].astype('str')
b['ServiceEnds']=b['ServiceEnds'].astype('str')
b['ServiceStartDate']=b['ServiceStartDate'].astype('str')
b['ServiceEndDate']=b['ServiceEndDate'].astype('str')

In [144]:
b.head()

,BusID,Model,ModelYear,Mileage,ServiceStartDate,ServiceEndDate,ServiceStarts,ServiceEnds,RouteName,BusCompany
0,BUS01,Volvo Caetano Levante,2018,6.7,2018-02-11,NULL,05:00:00,22:00:00,BAvMD,YBL
1,BUS02,Volvo B12B Plaxton Panther,2016,6,2016-04-23,2019-04-22 00:00:00,05:00:00,22:00:00,BAvMD,MBL
2,BUS03,Volvo B9R Caetano,2014,5.5,2014-06-02,2017-06-01 00:00:00,05:30:00,22:30:00,BAvMD,BUB
3,BUS04,CORGI OM46206 Scania,2018,6.8,2018-08-25,NULL,05:30:00,22:30:00,BAvMD,SCT
4,BUS05,Volvo Wright Eclipse Gemini,2017,6.6,2017-10-01,NULL,05:15:00,22:15:00,BAvBC,MBL

In [145]:
for i in b.index:
    j=str(i+1)
    print("CREATE()-[:OPERATES]->(b"+j+":Bus{BusId:'"+b.iloc[i,0]+"',Model:'"+b.iloc[i,1]+"',ModelYear:"+b.iloc[i,2]+",ServiceStarts: Time('"+b.iloc[i,6]+"'),ServiceEnds: Time('"+b.iloc[i,7]+"')})-[:RUNS{ServiceStartDate: Date('"+b.iloc[i,4]+"'),ServiceEndDate: Date('"+b.iloc[i,5]+"')}]->(r)<-[:HAVE]-(bc)")

CREATE()-[:OPERATES]->(b1:Bus{BusId:'BUS01',Model:'Volvo Caetano Levante',ModelYear:2018,ServiceStarts: Time('05:00:00'),ServiceEnds: Time('22:00:00')})-[:RUNS{ServiceStartDate: Date('2018-02-11'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b2:Bus{BusId:'BUS02',Model:'Volvo B12B Plaxton Panther',ModelYear:2016,ServiceStarts: Time('05:00:00'),ServiceEnds: Time('22:00:00')})-[:RUNS{ServiceStartDate: Date('2016-04-23'),ServiceEndDate: Date('2019-04-22 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b3:Bus{BusId:'BUS03',Model:'Volvo B9R Caetano',ModelYear:2014,ServiceStarts: Time('05:30:00'),ServiceEnds: Time('22:30:00')})-[:RUNS{ServiceStartDate: Date('2014-06-02'),ServiceEndDate: Date('2017-06-01 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b4:Bus{BusId:'BUS04',Model:'CORGI OM46206 Scania',ModelYear:2018,ServiceStarts: Time('05:30:00'),ServiceEnds: Time('22:30:00')})-[:RUNS{ServiceStartDate: Date('2018-08-25'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b5:Bus{BusId:'BUS05',Model:'Volvo Wright Eclipse Gemini',ModelYear:2017,ServiceStarts: Time('05:15:00'),ServiceEnds: Time('22:15:00')})-[:RUNS{ServiceStartDate: Date('2017-10-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b6:Bus{BusId:'BUS06',Model:'Volvo Caetano Levante',ModelYear:2015,ServiceStarts: Time('05:15:00'),ServiceEnds: Time('22:15:00')})-[:RUNS{ServiceStartDate: Date('2015-02-11'),ServiceEndDate: Date('2018-02-10 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b7:Bus{BusId:'BUS07',Model:'Volvo B12B Plaxton Panther',ModelYear:2016,ServiceStarts: Time('05:45:00'),ServiceEnds: Time('22:45:00')})-[:RUNS{ServiceStartDate: Date('2016-04-23'),ServiceEndDate: Date('2019-04-22 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b8:Bus{BusId:'BUS08',Model:'CORGI OM46206 Scania',ModelYear:2015,ServiceStarts: Time('05:30:00'),ServiceEnds: Time('22:30:00')})-[:RUNS{ServiceStartDate: Date('2015-08-25'),ServiceEndDate: Date('2018-08-24 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b9:Bus{BusId:'BUS09',Model:'Volvo MCV EvoSeti',ModelYear:2018,ServiceStarts: Time('06:00:00'),ServiceEnds: Time('23:00:00')})-[:RUNS{ServiceStartDate: Date('2018-12-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b10:Bus{BusId:'BUS10',Model:'Volvo B9R Caetano',ModelYear:2017,ServiceStarts: Time('06:00:00'),ServiceEnds: Time('23:00:00')})-[:RUNS{ServiceStartDate: Date('2017-05-14'),ServiceEndDate: Date('2020-05-13 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b11:Bus{BusId:'BUS11',Model:'Volvo Wright Eclipse Gemini',ModelYear:2017,ServiceStarts: Time('05:30:00'),ServiceEnds: Time('22:30:00')})-[:RUNS{ServiceStartDate: Date('2017-10-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b12:Bus{BusId:'BUS12',Model:'Volvo Caetano Levante',ModelYear:2015,ServiceStarts: Time('05:15:00'),ServiceEnds: Time('22:15:00')})-[:RUNS{ServiceStartDate: Date('2015-02-11'),ServiceEndDate: Date('2018-02-10 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b13:Bus{BusId:'BUS13',Model:'Volvo MCV EvoSeti',ModelYear:2019,ServiceStarts: Time('05:00:00'),ServiceEnds: Time('22:00:00')})-[:RUNS{ServiceStartDate: Date('2019-11-16'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b14:Bus{BusId:'BUS14',Model:'CORGI OM46206 Scania',ModelYear:2015,ServiceStarts: Time('05:00:00'),ServiceEnds: Time('22:00:00')})-[:RUNS{ServiceStartDate: Date('2015-08-25'),ServiceEndDate: Date('2018-08-24 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b15:Bus{BusId:'BUS15',Model:'Optare Metrodecker',ModelYear:2020,ServiceStarts: Time('05:15:00'),ServiceEnds: Time('22:15:00')})-[:RUNS{ServiceStartDate: Date('2020-01-10'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b16:Bus{BusId:'BUS16',Model:'Volvo Wright Eclipse Gemini',ModelYear:2019,ServiceStarts: Time('05:30:00'),ServiceEnds: Time('22:30:00')})-[:RUNS{ServiceStartDate: Date('2019-09-20'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b17:Bus{BusId:'BUS17',Model:'Optare Tempo',ModelYear:2020,ServiceStarts: Time('05:10:00'),ServiceEnds: Time('22:10:00')})-[:RUNS{ServiceStartDate: Date('2020-03-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b18:Bus{BusId:'BUS18',Model:'Volvo B12B Plaxton Panther',ModelYear:2016,ServiceStarts: Time('05:10:00'),ServiceEnds: Time('22:10:00')})-[:RUNS{ServiceStartDate: Date('2016-04-23'),ServiceEndDate: Date('2019-04-22 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b19:Bus{BusId:'BUS19',Model:'Optare Metrodecker',ModelYear:2020,ServiceStarts: Time('05:20:00'),ServiceEnds: Time('22:20:00')})-[:RUNS{ServiceStartDate: Date('2020-01-10'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b20:Bus{BusId:'BUS20',Model:'Optare Tempo',ModelYear:2020,ServiceStarts: Time('05:40:00'),ServiceEnds: Time('22:40:00')})-[:RUNS{ServiceStartDate: Date('2020-03-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b21:Bus{BusId:'BUS21',Model:'Volvo Caetano Levante',ModelYear:2018,ServiceStarts: Time('05:00:00'),ServiceEnds: Time('22:00:00')})-[:RUNS{ServiceStartDate: Date('2018-01-28'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b22:Bus{BusId:'BUS22',Model:'Volvo MCV EvoSeti',ModelYear:2018,ServiceStarts: Time('05:15:00'),ServiceEnds: Time('22:15:00')})-[:RUNS{ServiceStartDate: Date('2018-12-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b23:Bus{BusId:'BUS23',Model:'Volvo B9R Caetano',ModelYear:2014,ServiceStarts: Time('05:15:00'),ServiceEnds: Time('22:15:00')})-[:RUNS{ServiceStartDate: Date('2014-06-04'),ServiceEndDate: Date('2019-06-03 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b24:Bus{BusId:'BUS24',Model:'Optare Tempo',ModelYear:2020,ServiceStarts: Time('05:30:00'),ServiceEnds: Time('22:30:00')})-[:RUNS{ServiceStartDate: Date('2020-03-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b25:Bus{BusId:'BUS25',Model:'CORGI OM46206 Scania',ModelYear:2015,ServiceStarts: Time('05:10:00'),ServiceEnds: Time('22:10:00')})-[:RUNS{ServiceStartDate: Date('2015-08-25'),ServiceEndDate: Date('2018-08-24 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b26:Bus{BusId:'BUS26',Model:'Optare Metrodecker',ModelYear:2020,ServiceStarts: Time('05:20:00'),ServiceEnds: Time('22:20:00')})-[:RUNS{ServiceStartDate: Date('2020-01-10'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b27:Bus{BusId:'BUS27',Model:'Volvo Wright Eclipse Gemini',ModelYear:2017,ServiceStarts: Time('05:40:00'),ServiceEnds: Time('22:40:00')})-[:RUNS{ServiceStartDate: Date('2017-10-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b28:Bus{BusId:'BUS28',Model:'Optare Tempo',ModelYear:2020,ServiceStarts: Time('06:00:00'),ServiceEnds: Time('23:00:00')})-[:RUNS{ServiceStartDate: Date('2020-03-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b29:Bus{BusId:'BUS29',Model:'Volvo MCV EvoSeti',ModelYear:2018,ServiceStarts: Time('05:00:00'),ServiceEnds: Time('22:00:00')})-[:RUNS{ServiceStartDate: Date('2018-12-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b30:Bus{BusId:'BUS30',Model:'Volvo Caetano Levante',ModelYear:2015,ServiceStarts: Time('05:00:00'),ServiceEnds: Time('22:00:00')})-[:RUNS{ServiceStartDate: Date('2015-02-11'),ServiceEndDate: Date('2018-02-10 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b31:Bus{BusId:'BUS31',Model:'Volvo B9R Caetano',ModelYear:2017,ServiceStarts: Time('05:15:00'),ServiceEnds: Time('22:15:00')})-[:RUNS{ServiceStartDate: Date('2017-05-14'),ServiceEndDate: Date('2020-05-13 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b32:Bus{BusId:'BUS32',Model:'Volvo MCV EvoSeti',ModelYear:2018,ServiceStarts: Time('05:15:00'),ServiceEnds: Time('22:15:00')})-[:RUNS{ServiceStartDate: Date('2018-12-11'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b33:Bus{BusId:'BUS33',Model:'Optare Metrodecker',ModelYear:2020,ServiceStarts: Time('05:30:00'),ServiceEnds: Time('22:30:00')})-[:RUNS{ServiceStartDate: Date('2020-03-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b34:Bus{BusId:'BUS34',Model:'CORGI OM46206 Scania',ModelYear:2015,ServiceStarts: Time('05:30:00'),ServiceEnds: Time('22:30:00')})-[:RUNS{ServiceStartDate: Date('2015-08-25'),ServiceEndDate: Date('2018-08-24 00:00:00')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b35:Bus{BusId:'BUS35',Model:'Optare Tempo',ModelYear:2020,ServiceStarts: Time('05:10:00'),ServiceEnds: Time('22:10:00')})-[:RUNS{ServiceStartDate: Date('2020-03-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b36:Bus{BusId:'BUS36',Model:'Optare Metrodecker',ModelYear:2020,ServiceStarts: Time('05:25:00'),ServiceEnds: Time('22:25:00')})-[:RUNS{ServiceStartDate: Date('2020-10-10'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b37:Bus{BusId:'BUS37',Model:'Volvo B12B Plaxton Panther',ModelYear:2019,ServiceStarts: Time('05:00:00'),ServiceEnds: Time('22:00:00')})-[:RUNS{ServiceStartDate: Date('2019-03-14'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b38:Bus{BusId:'BUS38',Model:'Volvo Wright Eclipse Gemini',ModelYear:2017,ServiceStarts: Time('05:20:00'),ServiceEnds: Time('22:20:00')})-[:RUNS{ServiceStartDate: Date('2017-10-01'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b39:Bus{BusId:'BUS39',Model:'Volvo MCV EvoSeti',ModelYear:2019,ServiceStarts: Time('05:40:00'),ServiceEnds: Time('22:40:00')})-[:RUNS{ServiceStartDate: Date('2019-11-25'),ServiceEndDate: Date('NULL')}]->(r)<-[:HAVE]-(bc)
CREATE()-[:OPERATES]->(b40:Bus{BusId:'BUS40',Model:'Volvo B9R Caetano',ModelYear:2014,ServiceStarts: Time('05:40:00'),ServiceEnds: Time('22:40:00')})-[:RUNS{ServiceStartDate: Date('2014-06-04'),ServiceEndDate: Date('2017-06-03 00:00:00')}]->(r)<-[:HAVE]-(bc)

In [123]:
bs=pd.read_excel('ENTITY BUS STOP.xlsx')

In [124]:
bs.head()

,BusStop Name,bsType,bsCorordinate,address
0,Bournemouth Square,In-Lane,"50.7202° N, 1.8786° W","The Square, Bournemouth,BH2 6ED"
1,Bournemouth Bus Station,In-Lane,"50.7272° N, 1.8641° W","Boscombe, Bournemouth BH8 8DL"
2,Winton,On-Street,"50.7402° N, 1.8885° W","Winton, Bournemouth BH9 2HJ"
3,Moordown,Median,"50.7546° N, 1.8751° W","Old St Johns Mews, Moordown, Bournemouth BH9 2BH"
4,Westover Retail park,On-Street,"50.7600° N, 1.8722° W",Bournemouth BH9 2UB

In [125]:
for i in bs.index:
    j=str(i+1)
    print("CREATE(bs"+j+":BusStop{bsName:'"+bs.iloc[i,0]+"',BStype:'"+bs.iloc[i,1]+"',bsCoordinates:'"+bs.iloc[i,2]+"',bsAddress:'"+bs.iloc[i,3]+"'})")

CREATE(bs1:BusStop{bsName:'Bournemouth Square',BStype:'In-Lane',bsCoordinates:'50.7202° N, 1.8786° W',bsAddress:'The Square, Bournemouth,BH2 6ED'})
CREATE(bs2:BusStop{bsName:'Bournemouth Bus Station',BStype:'In-Lane',bsCoordinates:'50.7272° N, 1.8641° W',bsAddress:'Boscombe, Bournemouth BH8 8DL'})
CREATE(bs3:BusStop{bsName:'Winton',BStype:'On-Street',bsCoordinates:'50.7402° N, 1.8885° W',bsAddress:'Winton, Bournemouth BH9 2HJ'})
CREATE(bs4:BusStop{bsName:'Moordown',BStype:'Median',bsCoordinates:'50.7546° N, 1.8751° W',bsAddress:' Old St Johns Mews, Moordown, Bournemouth BH9 2BH'})
CREATE(bs5:BusStop{bsName:'Westover Retail park',BStype:'On-Street',bsCoordinates:'50.7600° N, 1.8722° W',bsAddress:'Bournemouth BH9 2UB'})
CREATE(bs6:BusStop{bsName:'Northbourne',BStype:'On-Street',bsCoordinates:'51.2211° N, 1.3397° E',bsAddress:' Bournemouth BH10 4EP'})
CREATE(bs7:BusStop{bsName:'Chapel Gate',BStype:'On-Street',bsCoordinates:'51.2697° N, 1.0930° W',bsAddress:'West Parley, Ferndown BH22 8EF'})
CREATE(bs8:BusStop{bsName:'Bournemouth Airport',BStype:'In-Lane',bsCoordinates:'50.7775° N, 1.8323° W',bsAddress:'Christchurch BH23 6DL'})
CREATE(bs9:BusStop{bsName:'Boscombe',BStype:'Median',bsCoordinates:'50.7236° N, 1.8485° W',bsAddress:'Ashley Rd, Bournemouth BH1 4LE'})
CREATE(bs10:BusStop{bsName:'Charminster',BStype:'Median',bsCoordinates:'50.7315° N, 2.4531° W',bsAddress:'Bournemouth BH8 8UX'})
CREATE(bs11:BusStop{bsName:'BU talbot campus',BStype:'In-Lane',bsCoordinates:'50.7424° N, 1.8961° W',bsAddress:'Poole BH12 5BB'})
CREATE(bs12:BusStop{bsName:'Wallisdown',BStype:'Median',bsCoordinates:'50.7415° N, 1.8976° W',bsAddress:'Poole BH12 5HG'})
CREATE(bs13:BusStop{bsName:'West Howe',BStype:'On-Street',bsCoordinates:'50.7577° N, 1.9106° W',bsAddress:'Bournemouth BH11 9HG'})
CREATE(bs14:BusStop{bsName:'Kinson',BStype:'Median',bsCoordinates:'50.7697° N, 1.9014° W',bsAddress:'Bournemouth BH10 7DW'})
CREATE(bs15:BusStop{bsName:'Ensbury Park',BStype:'On-Street',bsCoordinates:'50.7505° N, 1.8882° W',bsAddress:'Bournemouth BH10 4EA'})
CREATE(bs16:BusStop{bsName:'East Howe',BStype:'On-Street',bsCoordinates:'50.7569° N, 1.9014° W',bsAddress:'Bournemouth BH10 5JL'})
CREATE(bs17:BusStop{bsName:'Pokesdown',BStype:'On-Street',bsCoordinates:'50.7289° N, 1.8250° W',bsAddress:'Bournemouth BH5 2JZ'})
CREATE(bs18:BusStop{bsName:'Iford',BStype:'Median',bsCoordinates:'51.5566° N, 0.0763° E',bsAddress:'Bournemouth BH7 6EE'})
CREATE(bs19:BusStop{bsName:'Christchruch',BStype:'In-Lane',bsCoordinates:'43.5321° S, 172.6362° E',bsAddress:'Christchurch BH23 1PL'})
CREATE(bs20:BusStop{bsName:'Purewell',BStype:'Median',bsCoordinates:'50.7373° N, 1.7692° W',bsAddress:'Bournemouth BH2 5RG'})
CREATE(bs21:BusStop{bsName:'High cliffe',BStype:'On-Street',bsCoordinates:'50.7409° N, 1.7024° W',bsAddress:'Christchurch BH23 5EL'})
CREATE(bs22:BusStop{bsName:'New Milton',BStype:'Median',bsCoordinates:'50.7531° N, 1.6551° W',bsAddress:'New Milton BH25 6EB'})
CREATE(bs23:BusStop{bsName:'Fishersmans Walk',BStype:'On-Street',bsCoordinates:'50.7268° N, 1.8179° W',bsAddress:'Bournemouth BH6 3RE'})
CREATE(bs24:BusStop{bsName:'Southbourne',BStype:'On-Street',bsCoordinates:'50.7223° N, 1.7956° W',bsAddress:' Bournemouth BH6 3DJ'})
CREATE(bs25:BusStop{bsName:'Mountbatten',BStype:'On-Street',bsCoordinates:'50.3575° N, 4.1252° W',bsAddress:'Poole BH12 5BA'})
CREATE(bs26:BusStop{bsName:'Bearwood',BStype:'Median',bsCoordinates:'52.4768° N, 1.9702° W',bsAddress:'Bournemouth BH11 9UA'})
CREATE(bs27:BusStop{bsName:'Marley',BStype:'Median',bsCoordinates:'51.2092° N, 1.1295° E',bsAddress:'New Milton BH25 5NP'})
CREATE(bs28:BusStop{bsName:'Wimbourne',BStype:'Median',bsCoordinates:'50.8005° N, 1.9830° W',bsAddress:'Wimborne BH21 1JF'})

In [136]:
r=pd.read_excel("ENTITY ROUTE.xlsx")

In [137]:
r

  Route Name  RouteLength               Via
0      BAvMD            8          Moordown
1      BAvBC            9          Boscombe
2      BAvKN           10            Kinson
3      KNvWH            6         West Howe
4      KNvEH            6         East Howe
5      NMvIF            8             Iford
6      NMvSB            8       Southbourne
7      WBvBU            9  BU-Talbot campus
8      WBvEH            9         East Howe
9      WBvWH           10         West Howe

In [138]:
r['RouteLength']=r['RouteLength'].astype('str')

In [141]:
for i in r.index:
    j=str(i+1)
    print("CREATE(r"+j+":Route{rName:'"+r.iloc[i,0]+"',rLength:"+r.iloc[i,1]+",rVia:'"+r.iloc[i,2]+"'})")

CREATE(r1:Route{rName:'BAvMD',rLength:8,rVia:'Moordown'})
CREATE(r2:Route{rName:'BAvBC',rLength:9,rVia:'Boscombe'})
CREATE(r3:Route{rName:'BAvKN',rLength:10,rVia:'Kinson'})
CREATE(r4:Route{rName:'KNvWH',rLength:6,rVia:'West Howe'})
CREATE(r5:Route{rName:'KNvEH',rLength:6,rVia:'East Howe'})
CREATE(r6:Route{rName:'NMvIF',rLength:8,rVia:'Iford'})
CREATE(r7:Route{rName:'NMvSB',rLength:8,rVia:'Southbourne'})
CREATE(r8:Route{rName:'WBvBU',rLength:9,rVia:'BU-Talbot campus'})
CREATE(r9:Route{rName:'WBvEH',rLength:9,rVia:'East Howe'})
CREATE(r10:Route{rName:'WBvWH',rLength:10,rVia:'West Howe'})

In [149]:
rb=list(r['RouteLength'].astype('int'))
rb

[8, 9, 10, 6, 6, 8, 8, 9, 9, 10]

In [152]:
for i in r.index:
    k=str(i+1)
    for j in range(0,rb[i]):
        l=str(j+1)
        print("CREATE(r"+k+")-[:HAS{StopTrackId:"+l+"}])->(bs)")

CREATE(r1)-[:HAS{StopTrackId:1}])->(bs)
CREATE(r1)-[:HAS{StopTrackId:2}])->(bs)
CREATE(r1)-[:HAS{StopTrackId:3}])->(bs)
CREATE(r1)-[:HAS{StopTrackId:4}])->(bs)
CREATE(r1)-[:HAS{StopTrackId:5}])->(bs)
CREATE(r1)-[:HAS{StopTrackId:6}])->(bs)
CREATE(r1)-[:HAS{StopTrackId:7}])->(bs)
CREATE(r1)-[:HAS{StopTrackId:8}])->(bs)
CREATE(r2)-[:HAS{StopTrackId:1}])->(bs)
CREATE(r2)-[:HAS{StopTrackId:2}])->(bs)
CREATE(r2)-[:HAS{StopTrackId:3}])->(bs)
CREATE(r2)-[:HAS{StopTrackId:4}])->(bs)
CREATE(r2)-[:HAS{StopTrackId:5}])->(bs)
CREATE(r2)-[:HAS{StopTrackId:6}])->(bs)
CREATE(r2)-[:HAS{StopTrackId:7}])->(bs)
CREATE(r2)-[:HAS{StopTrackId:8}])->(bs)
CREATE(r2)-[:HAS{StopTrackId:9}])->(bs)
CREATE(r3)-[:HAS{StopTrackId:1}])->(bs)
CREATE(r3)-[:HAS{StopTrackId:2}])->(bs)
CREATE(r3)-[:HAS{StopTrackId:3}])->(bs)
CREATE(r3)-[:HAS{StopTrackId:4}])->(bs)
CREATE(r3)-[:HAS{StopTrackId:5}])->(bs)
CREATE(r3)-[:HAS{StopTrackId:6}])->(bs)
CREATE(r3)-[:HAS{StopTrackId:7}])->(bs)
CREATE(r3)-[:HAS{StopTrackId:8}])->(bs)
CREATE(r3)-[:HAS{StopTrackId:9}])->(bs)
CREATE(r3)-[:HAS{StopTrackId:10}])->(bs)
CREATE(r4)-[:HAS{StopTrackId:1}])->(bs)
CREATE(r4)-[:HAS{StopTrackId:2}])->(bs)
CREATE(r4)-[:HAS{StopTrackId:3}])->(bs)
CREATE(r4)-[:HAS{StopTrackId:4}])->(bs)
CREATE(r4)-[:HAS{StopTrackId:5}])->(bs)
CREATE(r4)-[:HAS{StopTrackId:6}])->(bs)
CREATE(r5)-[:HAS{StopTrackId:1}])->(bs)
CREATE(r5)-[:HAS{StopTrackId:2}])->(bs)
CREATE(r5)-[:HAS{StopTrackId:3}])->(bs)
CREATE(r5)-[:HAS{StopTrackId:4}])->(bs)
CREATE(r5)-[:HAS{StopTrackId:5}])->(bs)
CREATE(r5)-[:HAS{StopTrackId:6}])->(bs)
CREATE(r6)-[:HAS{StopTrackId:1}])->(bs)
CREATE(r6)-[:HAS{StopTrackId:2}])->(bs)
CREATE(r6)-[:HAS{StopTrackId:3}])->(bs)
CREATE(r6)-[:HAS{StopTrackId:4}])->(bs)
CREATE(r6)-[:HAS{StopTrackId:5}])->(bs)
CREATE(r6)-[:HAS{StopTrackId:6}])->(bs)
CREATE(r6)-[:HAS{StopTrackId:7}])->(bs)
CREATE(r6)-[:HAS{StopTrackId:8}])->(bs)
CREATE(r7)-[:HAS{StopTrackId:1}])->(bs)
CREATE(r7)-[:HAS{StopTrackId:2}])->(bs)
CREATE(r7)-[:HAS{StopTrackId:3}])->(bs)
CREATE(r7)-[:HAS{StopTrackId:4}])->(bs)
CREATE(r7)-[:HAS{StopTrackId:5}])->(bs)
CREATE(r7)-[:HAS{StopTrackId:6}])->(bs)
CREATE(r7)-[:HAS{StopTrackId:7}])->(bs)
CREATE(r7)-[:HAS{StopTrackId:8}])->(bs)
CREATE(r8)-[:HAS{StopTrackId:1}])->(bs)
CREATE(r8)-[:HAS{StopTrackId:2}])->(bs)
CREATE(r8)-[:HAS{StopTrackId:3}])->(bs)
CREATE(r8)-[:HAS{StopTrackId:4}])->(bs)
CREATE(r8)-[:HAS{StopTrackId:5}])->(bs)
CREATE(r8)-[:HAS{StopTrackId:6}])->(bs)
CREATE(r8)-[:HAS{StopTrackId:7}])->(bs)
CREATE(r8)-[:HAS{StopTrackId:8}])->(bs)
CREATE(r8)-[:HAS{StopTrackId:9}])->(bs)
CREATE(r9)-[:HAS{StopTrackId:1}])->(bs)
CREATE(r9)-[:HAS{StopTrackId:2}])->(bs)
CREATE(r9)-[:HAS{StopTrackId:3}])->(bs)
CREATE(r9)-[:HAS{StopTrackId:4}])->(bs)
CREATE(r9)-[:HAS{StopTrackId:5}])->(bs)
CREATE(r9)-[:HAS{StopTrackId:6}])->(bs)
CREATE(r9)-[:HAS{StopTrackId:7}])->(bs)
CREATE(r9)-[:HAS{StopTrackId:8}])->(bs)
CREATE(r9)-[:HAS{StopTrackId:9}])->(bs)
CREATE(r10)-[:HAS{StopTrackId:1}])->(bs)
CREATE(r10)-[:HAS{StopTrackId:2}])->(bs)
CREATE(r10)-[:HAS{StopTrackId:3}])->(bs)
CREATE(r10)-[:HAS{StopTrackId:4}])->(bs)
CREATE(r10)-[:HAS{StopTrackId:5}])->(bs)
CREATE(r10)-[:HAS{StopTrackId:6}])->(bs)
CREATE(r10)-[:HAS{StopTrackId:7}])->(bs)
CREATE(r10)-[:HAS{StopTrackId:8}])->(bs)
CREATE(r10)-[:HAS{StopTrackId:9}])->(bs)
CREATE(r10)-[:HAS{StopTrackId:10}])->(bs)